body {
  background-color: #2196f3;
}

.container {
  margin: 0 auto;
  width: 800px;
  padding-top: 50px;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.025em;
  margin: 0;
  padding: 0;
}

.searchbar,
.button {
  height: 45px;
  margin: 1em 0 4em;
  padding: 0;
  font: 400 1rem "Roboto";
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: white;
  border: none;
}

.searchbar {
  text-align: left;
  width: 550px;
  border-bottom: solid thin white;
  background: transparent;
  padding: 0 15px;
}

::-webkit-input-placeholder {
  color: white;
}

.button {
  width: 100px;
  background-color: #2196f3;
  font-weight: bold;
  margin-top: 60px;
}

.panel-section {
  width: 100%;
  display: inline-block;
}

.panel {
  display: block;
}

.weather {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

.bi {
  font-size: 100px;
}

.city {
  text-align: left;
  border-bottom: solid thin white;
  text-transform: uppercase;
  color: #e8e8e8;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.group {
  width: 200px;
  margin-bottom: 20px;
  text-align: right;
  float: right;
  clear: both;
  opacity: 0.7;
}

.group h3 {
  font-size: 20px;
}

a {
  color: white;
  opacity: 0.54;
  text-decoration: none;
}
a:hover {
  opacity: 1;
  color: white;
}

.temperature {
  font-size: 80px;
  font-weight: 600;
  line-height: 0.75;
}

.celsius,
.fahrenheit,
.divider {
  font-size: 36px;
  vertical-align: super;
}

.forecast {
  display: table;
  text-transform: uppercase;
  width: 100%;
  padding-top: 50px;
  font-size: 21px;
  text-align: center;
}

.col-2 {
  text-align: center;
}

.forecast h3,
h4 {
  font-size: 18px;
  opacity: 0.7;
}

.forecast h2 {
  font-weight: 600;
  margin: 0.25em 0;
}

.weather-temp {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
}

.link-github {
  padding-top: 50px;
  margin: 0;
}

.link-github a {
  font-weight: bold;
}

.description {
  text-transform: capitalize;
}
